body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
  
}

.form-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    transition: transform 0.5s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0 0 1rem 0;
    color: #333;
}

input {
    width: 90%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    width: 90%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background: none;
    border-width: 1px;
    border-color:#007bff;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
   text-align: center;
}

a:hover {
 background-color: #007bff;
 color: white;
}
.dont_account{
    color: black;
    background: none;
}
.dont_account:hover{
    background-color:white;
    color: black;
    text-decoration: underline;
}
p {
    margin-top: 1rem;
    text-align: center;
}




/* Add to styles.css */
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.animated-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.shape {
    position: absolute;
    fill: rgba(0, 123, 255, 0.2);
    animation: move 10s infinite;
}

.circle {
    width: 250px;
    height: 250px;
    top: 5%;
    left: 5%;
    animation-delay: 0s;
}

.triangle {
    width: 250px;
    height: 150px;
    bottom: 20%;
left: 1100px;
    animation-delay: 3s;
 top:-5px
}

@keyframes move {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(50px, 50px) rotate(60deg);
    }
}

